
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }





        ul {
            list-style: none;
        }


        body {
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #202020;
            font-family: sans-serif;
        }


        .logo {
            position: fixed;
            width: 15%;
            float: left;
            top: 2vh;
            left: 4vw;
            z-index: 9999;
        }


        .navmenu {
            position: fixed;
            right: 2vw;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
            opacity: 0.8;
        }

        .navmenu ul {
            padding-left: 50px;
            position: relative;
        }

        .navmenu ul::after {
            content: '';
            position: absolute;
            width: 2px;
            height: calc(100% - 58px);
            left: 40px;
            top: 0;
            /*--background: white; */
            z-index;
            999;
            margin-top: 29px;
        }

        .navmenu ul li {
            padding: 20px 0;
        }

        .navmenu ul li a {
            text-decoration: none;
            position: relative;
            color: white;
            font-size: 1.25rem;
            line-height: 1rem;
            font-weight: 500;

        }

        .navmenu ul li a::before {
            content: '';
            position: absolute;
            background: none;
            width: 12px;
            height: 12px;
            left: -40px;
            top: 58%;
            transform: translateY(-50%);
            border-radius: 50%;
            border: 1.5px solid white;
            transition: background 250ms;
            z-index: 998;
        }

        .navmenu ul li a.active {
            font-weight: 800;
        }

        .navmenu ul li a.active:before {
            background: white;
        }


        .video-container {
            height: 100vh;
            width: 100vw;
            position: relative;
            background: #202020;
            z-index: -100;
        }

        .video-container video {
            width: 100vw;
            height: 100vh;
            position: absolute;
            object-fit: cover;
            z-index: -100;
            opacity: 0.25;
            left: 23.5vw;
        }


        .video-container2 {
            height: 100vh;
            width: 100vw;
            position: relative;
            background: #202020;
            z-index: -100;
        }


        .video-container2 video {
            width: 100vw;
            height: 100vh;
            position: absolute;
            object-fit: cover;
            z-index: -100;
            opacity: 0.5;
        }

        #section1 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section2 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section3 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section4 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section5 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section6 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section7 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section8 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section9 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section10 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section11 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }


        #section12 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section13 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section14 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section15 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        #section16 {
            display: inline-block;
            height: 100vh;
            width: 100vw;
        }

        .div1 {
            width: 300px;
            height: 60vh;
            box-sizing: border-box;
            position: relative;
            right: 7vw;
            top: 3vh;
            color: white;
            line-height: 1.5rem;
        }


        .column {
            float: left;
            width: 33.33%;
        }

        .column3 {
            float: right;
            width: 33.33%;
        }


        img {
            width: 70%;
            padding-top: 3vh;
            position: relative;
            right: 22vw;
        }

        .arc img {
            width: 90px;
            margin-top: 16vh;
            margin-left: 46px;
        }

        .comic img {
            width: 25%;
            float: right;
            bottom: 13.5vh;
            right: 14vw;
        }

        .line {
            display: block;
            margin-top: -73vh;
            margin-left: -95px;
            border-style: inset;
            border-width: 1px;
            width: 60%;
        }

        .content {
            height: 100%;
            width: 100%;
            /*display: flex;
    align-items: left;
    justify-content: center;*/
            transform: rotate(-90deg);
            padding-bottom: 20vw;
        }


        .content .text {
            position: relative;
            color: #fff;
            font-weight: 700;
            font-size: 55px;
            text-transform: uppercase;
            transform: scale(2);
            letter-spacing: 2px;
            padding: 30px;
        }

        /*----
.content .text::before,
.content .text::after{
    position: absolute;
    content: attr(data-text);
    padding: 30px;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #202020;
    color:#fff;
    overflow: hidden;
}

.content .text::before{
    left: 3px;
    text-shadow: -2px 0 #75D5FD;
    animation: glitch-1 2s 0s linear reverse infinite;
    
}

.content .text::after{
    left: -3px;
    text-shadow: 2px 0 #006AF9;
    animation: glitch-2 2s 0s linear reverse infinite;
}
    
----*/

        .data {
            font-family: sans-serif;
            color: #fff;
            font-size: 40px;
            letter-spacing: 12px;
            text-transform: uppercase;
            font-weight: 600;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        .subhead {
            font-family: sans-serif;
            color: #fff;
            font-size: 20px;
            letter-spacing: 12px;
            line-height: 5vh;
            font-weight: 600;
            position: absolute;
            text-transform: uppercase;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

        }


        .credit a {
            font-family: sans-serif;
            color: #fff;
            font-size: 20px;
            letter-spacing: 12px;
            line-height: 5vh;
            font-weight: 600;
            position: absolute;
            text-transform: uppercase;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-decoration: none;
            color: #fff;
            text-shadow: none;
            line-height: 10vh;
            opacity: 0.5;
        }

        .credit a:hover {
            text-shadow: 1px 1px 5px #fff, 1px 1px 5px #04d9ff;
        }

        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background: #202020;

        }









        @keyframes glitch-1 {
            0% {
                clip: rect(132px, auto, 101px, 30px);
            }

            5% {
                clip: rect(17px, auto, 94px, 30px);
            }

            10% {
                clip: rect(40px, auto, 66px, 30px);
            }

            15% {
                clip: rect(87px, auto, 82px, 30px);
            }

            20% {
                clip: rect(137px, auto, 61px, 30px);
            }

            25% {
                clip: rect(34px, auto, 14px, 30px);
            }

            30% {
                clip: rect(133px, auto, 74px, 30px);
            }

            35% {
                clip: rect(76px, auto, 107px, 30px);
            }

            40% {
                clip: rect(59px, auto, 130px, 30px);
            }

            45% {
                clip: rect(29px, auto, 84px, 30px);
            }

            50% {
                clip: rect(22px, auto, 67px, 30px);
            }

            55% {
                clip: rect(67px, auto, 62px, 30px);
            }

            60% {
                clip: rect(10px, auto, 105px, 30px);
            }

            65% {
                clip: rect(78px, auto, 115px, 30px);
            }

            70% {
                clip: rect(105px, auto, 13px, 30px);
            }

            75% {
                clip: rect(15px, auto, 75px, 30px);
            }

            80% {
                clip: rect(66px, auto, 39px, 30px);
            }

            85% {
                clip: rect(133px, auto, 73px, 30px);
            }

            90% {
                clip: rect(36px, auto, 128px, 30px);
            }

            95% {
                clip: rect(68px, auto, 103px, 30px);
            }

            100% {
                clip: rect(14px, auto, 100px, 30px);
            }
        }

        @keyframes glitch-2 {
            0% {
                clip: rect(129px, auto, 36px, 30px);
            }

            5% {
                clip: rect(36px, auto, 4px, 30px);
            }

            10% {
                clip: rect(85px, auto, 66px, 30px);
            }

            15% {
                clip: rect(91px, auto, 91px, 30px);
            }

            20% {
                clip: rect(148px, auto, 138px, 30px);
            }

            25% {
                clip: rect(38px, auto, 122px, 30px);
            }

            30% {
                clip: rect(69px, auto, 54px, 30px);
            }

            35% {
                clip: rect(98px, auto, 71px, 30px);
            }

            40% {
                clip: rect(146px, auto, 34px, 30px);
            }

            45% {
                clip: rect(134px, auto, 43px, 30px);
            }

            50% {
                clip: rect(102px, auto, 80px, 30px);
            }

            55% {
                clip: rect(119px, auto, 44px, 30px);
            }

            60% {
                clip: rect(106px, auto, 99px, 30px);
            }

            65% {
                clip: rect(141px, auto, 74px, 30px);
            }

            70% {
                clip: rect(20px, auto, 78px, 30px);
            }

            75% {
                clip: rect(133px, auto, 79px, 30px);
            }

            80% {
                clip: rect(78px, auto, 52px, 30px);
            }

            85% {
                clip: rect(35px, auto, 39px, 30px);
            }

            90% {
                clip: rect(67px, auto, 70px, 30px);
            }

            95% {
                clip: rect(71px, auto, 103px, 30px);
            }

            100% {
                clip: rect(83px, auto, 40px, 30px);
            }
        }
